/AgendaMLGServer/nbproject/private/
/AgendaMLGClient_1/nbproject/private/
/AgendaMLGClient/nbproject/private/
/AgendaMLGServer/AgendaMLGServer-war/nbproject/private/
/AgendaMLGServer/AgendaMLGServer-ejb/nbproject/private/
/AgendaMLGServer/AgendaMLGServer-war/build/
/AgendaMLGServer/build/
/AgendaMLGServer/AgendaMLGServer-ejb/build/
/AgendaMLGServer/AgendaMLGServer-ejb/dist/
/AgendaMLGServer/AgendaMLGServer-war/dist/
/AgendaMLGServer/dist/
/AgendaMLGClient/build/
/AgendaMLGClient/dist/
/AgendaMLGClient_1/build/
/AgendaMLGClient_1/dist/
